{% extends 'base.html' %}
{% load static %}
{% block content %}
{{ block.super}}
<div class="row" id="row">
    <div class="col-md-12 col-sm-12">
        <div class="header">
            <h1 class="heading" id="h1"> Reuben Kipkemboi</h1>
            <p>A Full-stack developer majored in Javascript</p>

            <div class="butons">
                <button id="one">Contact Reuben</button>
                <button id="two">Hire me</button>
            </div>
        </div>
    </div>
    <div class="image">
        <!-- <img src="{% static 'css/images/bg.png'%}" alt="Icon" id="image"> -->
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-6" id="row2">
        <div class=" col-md-3 project1 shadow" id="p1">
            <h6 class="python">Python</h6>
            <h4 class="par1">Password locker using Python and Flask framework</h4>
            <p class="desc">This is a simple python application, that runs on ....</p>
        </div>

        <div class="col-md-3 project1 shadow" id="p2">
            <h6 class="python">Javascript, HTML & CSS</h6>
            <h4 class="par1">Akan Naming Application</h4>
            <p class="desc">This is asimple web application that can be used to generate ghanian names according to Akan
                people culture ....</p>
        </div>

        <div class="col-md-3 project1 shadow" id="p3">
            <h6 class="python">Python</h6>
            <h4 class="par1">Password locker using Python and Flask framework</h4>
            <p class="desc">This is a simple python application, that runs on ....</p>
        </div>
    </div>

</div>


{% endblock %}
