{% extends 'base.html' %}
{% load static %}
{% block content %}
{{ block.super}}
<div class="row" id="row">
    <div class="header">
        <h1 class="heading" id="h1"> Reuben Kipkemboi</h1>
        <p>A Full-stack developer majored in Javascript</p>

        <div class="butons">
            <button  id="one">Contact Reuben</button>
            <button  id="two">Hire me</button>
        </div>
    </div>
    <div class="image">
        <!-- <img src="{% static 'css/images/bg.png'%}" alt="Icon" id="image"> -->
    </div>
</div>



</div>

{% endblock %}
