/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
*{
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
#row{
    /* background-color: #7377C0; */
    /* background-image: url('{{ STATIC_URL }}images/bg.png%'); */
    /* background-image:url("images/bg1.jpg"); */
    background-color: #EDEEE7;
    object-fit: cover;
    background-repeat: no-repeat;
    /* background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("images/bg1.jpg"); */
    
}
#cardrow{
    margin-right: 3%;
}
.header{
    margin-top: 10%;
    padding: 5%;
    color: #191F19;

}
.header #h1{
    font-size: 10vh;
    font-weight: bold;
}
#one{
    /* background-color: #7377C0; */
    color: #ffffff;
    text-align: center;
    width: 20%;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 8vh;
    background: linear-gradient(to left, #94ABBc 50%, #191F19 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}
#one:hover{
    color: #ffffff; 
    background-position: left;
}
#two{
    height: 7vh;
    color: #ffffff;
    text-align: center;
    width: 20%;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 8vh;
    background: linear-gradient(to left, #79595C 50%, #ffffff 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}
#two:hover{
    color: #000000; 
    background-position: left;
}

#image{
    outline: none;
}
#contact{
    border: 1px solid #191F19;
    background: linear-gradient(to right, 50%, #191F19 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
    border-radius: 3px;
    color: #ffffff;
}
#contact:hover{
    color: #ffffff;
    background-position: left;

}
#nav .nav-item .nav-link{
    padding-left:70px;
    color: #494453;
    font-weight: bold;
}
.navbar-brand{
    font-size: 5vh;
    font-weight: 900;
}
.color{
    color:#79595C;

}
/*Row 2 styling  */
#p1{
    border-top: 2px solid #7E9299;
    height: 250px;
    margin: 3%;
    background-color: #191F19;
    padding: 20px;
}
#p1 .python, #p2 .python,#p3 .python{
    color:#F8907F;
    padding: 10px;
    border-bottom: 1px solid #7E9299;

}
#p1 .par1,#p2 .par1,#p3 .par1{
    color:#B89FF1;

}
#p1 .desc,#p2 .desc,#p3 .desc{
    color:#ffffff;

}
#p2{
    border-top: 4px solid #79595C;
    height: 250px;
    margin: 3%;
    background-color: #191F19;
    padding: 20px;

}
#p3{
    border-top: 4px solid #94ABBc;
    height: 250px;
    margin: 3%;
    background-color: #191F19;
    padding: 20px;

}

/* projects */
#title, #text, #texts{
    color: #000000;
    
}
#title{
    font-weight: 900;
}
#text, #texts{
    font-size:2vh;
}
#head{
    text-align: center;
}

#oneone{
    /* background-color: #7377C0; */
    color: #ffffff;
    text-align: center;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 8vh;
    background: linear-gradient(to left, #7377C0 50%, #050A30 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}
#oneone:hover{
    color: #000000;
    background-position: left;
    color: #ffffff;

}
#twotwo{
    /* background-color: #B89FF1; */
    height: 7vh;
    color: #ffffff;
    text-align: center;
    width: 25%;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 8vh;
    background: linear-gradient(to left, #B89FF1 50%, #000000 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}
#twotwo:hover{
    color: #ffffff; 
    background-position: left;
}
#container{
    background-color: #EDEEE7;
    height: 100vh;
}

#moreprojects{
    background-color: #191F19;
    height: 40vh;
    padding: 4%;
    color: #EDEEE7;
    /* position: absolute; */
    opacity: 0.8;
    
}
#moreprojects .personal{
    font-size: 3vh;
}
#moreprojects .my{
    font-weight: bold;
}
#bottom{
    /* position: relative; */
}
#view{
    width: 70%;
    outline: none;
    border: none;
    background-color: #EDEEE7;
    color: #191F19;
    padding: 2%;
    font-weight: bold;
    font-size: 3vh;
}
#view:hover{
    background-color: #191F19;
    outline: 1px solid #EDEEE7;
    color: white;

}
#etcetera{
    height: 40vh;
    background:#79595C;
}

