@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    font-family: 'Playfair Display', serif;
}
#row{
    /* background-color: #7377C0; */
    /* background-image: url('{{ STATIC_URL }}images/bg.png%'); */
    /* background-image:url("images/bg1.jpg"); */
    background-color: #494453;
    object-fit: cover;
    background-repeat: no-repeat;
    /* background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("images/bg1.jpg"); */
    
}
#cardrow{
    margin-right: 3%;
}
.header{
    margin-top: 10%;
    padding: 5%;
    color: #ffffff;
}
.header #h1{
    font-size: 10vh;
}
#one{
    /* background-color: #7377C0; */
    color: #ffffff;
    text-align: center;
    width: 20%;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 8vh;
    background: linear-gradient(to left, #7377C0 50%, #050A30 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}
#one:hover{
    color: #ffffff; 
    background-position: left;
}
#two{
    /* background-color: #B89FF1; */
    height: 7vh;
    color: #ffffff;
    text-align: center;
    width: 20%;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 8vh;
    background: linear-gradient(to left, #B89FF1 50%, #ffffff 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}
#two:hover{
    color: #000000; 
    background-position: left;
}

#image{
    outline: none;
}
#contact{
    border: 1px solid #BC5B4E;
    background: linear-gradient(to left, #494453 50%, #ffffff 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
    border-radius: 3px;
}
#contact:hover{
    color: #ffffff;
    background-position: left;

}
#nav .nav-item .nav-link{
    padding-left:70px;
    color: #494453;
    font-weight: bold;
}
.navbar-brand{
    font-size: 4vh;
}
.color{
    color:#BC5B4E;

}
/*Row 2 styling  */
#p1{
    border-top: 2px solid #7377C0;
    height: 250px;
    margin: 3%;
    background-color: #1D1D1D;
    padding: 20px;
}
#p1 .python, #p2 .python,#p3 .python{
    color:#F8907F;
    padding: 10px;
    border-bottom: 1px solid #7377C0;

}
#p1 .par1,#p2 .par1,#p3 .par1{
    color:#B89FF1;

}
#p1 .desc,#p2 .desc,#p3 .desc{
    color:#ffffff;

}
#p2{
    border-top: 2px solid #F8907F;
    height: 250px;
    margin: 3%;
    background-color: #1D1D1D;
    padding: 20px;

}
#p3{
    border-top: 2px solid #B89FF1;
    height: 250px;
    margin: 3%;
    background-color: #1D1D1D;
    padding: 20px;

}

/* projects */
#title, #text, #texts{
    color: #000000;
    
}
#text, #texts{
    font-size:2vh;
}
#head{
    text-align: center;
}

#oneone{
    /* background-color: #7377C0; */
    color: #ffffff;
    text-align: center;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 8vh;
    background: linear-gradient(to left, #7377C0 50%, #050A30 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}
#oneone:hover{
    color: #000000;
    background-position: left;
    color: #ffffff;

}
#twotwo{
    /* background-color: #B89FF1; */
    height: 7vh;
    color: #ffffff;
    text-align: center;
    width: 25%;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 8vh;
    background: linear-gradient(to left, #B89FF1 50%, #000000 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}
#twotwo:hover{
    color: #ffffff; 
    background-position: left;
}
#container{
    background-color: #494453;
    height: 100vh;
}

